.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

canvas {
  display: block;
  margin: 1rem auto;
  border: thin solid black;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  background-color: white;
}
